.main{
    background-image: url("../images/bgg-1.jpg");
    height: -webkit-fill-available;
    background-size: cover;
    background-position: 80% center;
}
.app {
    position: relative;
    height: auto;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}
form {
    position: absolute;
    top: 180%;
    color: white;
    left: calc(50% - 12.5%);
    align-content: center;
    height: auto;
    width: 25%;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
}
form button{
    margin: 20px auto;
    width: 30%;
    height: 30px;
}
@media only screen and (max-width: 767px) {
    form {
        width: 60%;
        left: calc(22%);

    }
    button{
        width: 20%;
    }
    .main{
        background: url("../images/bgg-1.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height:-webkit-fill-available;
        overflow: hidden;
    }

}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .main{
        background: url("../images/bgg-1.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height:-webkit-fill-available;
        overflow: hidden;
    }
    form{
       width: 50%;
        left: 25%;
    }
}